h2.lead{
	font-size:30px;
	text-align: center;
}
p.lead{
	font-size:20px;
	font-weight: 300;
	padding-bottom:30px
}
.charity{
	margin:15px 15px 30px;
	padding:0 0 45px;
	overflow: hidden;
	border:1px solid white;
	text-align: center;
	box-shadow: 4px 6px 15px rgba(0,0,0,.2);
	border-radius: 15px;

	.charity-logo{
		background-color: white;
		margin-bottom: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-radius: 15px 15px 0 0 ;
		img{
			max-width: 200px
		}
	}
	.charity-description{
		p{
			padding:0 15px;
		}
	}
	
	.vote{
		
		padding:7px 45px;
		font-size:18px;
	}
}


