body{
	padding-top: 50px;
	background-color: $purple;
}
header{
	background-color:$grey;
	color:white;
	margin-bottom:50px;
	.container{
		padding-bottom: 15px;
		h1, h4.page-sub-title{
			color:white !important;
		}
	}
}
main{
	padding-bottom:50px;
	min-height:500px;
}
h1, h2, h3, h4, h5, h6, p{
	color:white;
}
.btn{
	letter-spacing: 3px;
}
.btn-primary{
	background-color:white;
	color:$dk-purple;
	border:2px solid white;
	transition:.2s
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
	background-color:$dk-purple;
	border:2px solid white;
	color:white;
}

.btn-secondary{
		background-color:$dk-purple;
		border:2px solid $dk-purple;
		color:white;
		transition:.2s
	}
.btn-secondary:hover{
	background-color:white;
	color:$dk-purple;
	border:2px solid $dk-purple;
}






img{
	width:100%;
	height:auto;
}

a{
	color:white;
	text-decoration: underline;
}

.panel{
	color:$dk-purple;
	.btn-primary{
		background-color:$purple;
		border:2px solid white;
		color:white;

	}
	.btn-primary:hover{
		background-color:white;
		color:$purple;
		border:2px solid $purple;
	}
	a.btn-link{
		color:$purple;
		text-decoration: underline;
	}
}

.register-logo{
	padding-top:30px;
}
.welcome{

	color:white;
	h2{
		padding-bottom:30px;
	}
	p{
		padding-bottom: 15px;
	}
	.btn{
		text-decoration: none;
	}
}

.alert.alert-danger{
	background-color: $grey;
}



//stripe button

.stripe-button-el{
	background-image: none !important;
	span{
		background-color:white !important;
		background-image: none !important;
		background: white !important;
		border:2px solid white !important;
		color:$purple !important;
		padding:2px 15px !important;
		height:auto !important;
	}
}

.checkoutView{
	.button>.inner>button{
		background-color:white !important;
		background-image: none !important;
		background: white !important;
		border:2px solid white !important;
		color:$purple !important;
		padding:2px 15px !important;
		height:auto !important;
	}
}
.iconTick{

}







