.flashBG{
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	left:0;
	z-index: 9999;
	.flashContainer{
		position: relative;
		top:50px;
		// left:14%;
		padding:10px 0;
		// width:300px;
		// height: 40px;
		border:1px solid black;
		border-radius: 4px;
		background-color: white;
	    border: 2px solid white;
	    z-index: 9999;

		p{
			color:$purple;
			font-size: 20px;
    		text-align: center;

		}
		span{
			img{
				width:25px;
			}
		}
	}
}
