@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .admin{
        .admin-menu{
            .navbar-collapse{
                .dropdown-menu{
                    a{
                        color: $dk-purple !important;
                    }
                }
            }
        }
    }
    
}