
#app-layout{

	.registration{
		p{
			color:$purple;
		}

		#province{
			option{
				color:$purple;
			}	
			
		}
		.small-txt{
				color:$purple;
				font-size: x-small;
				font-weight: 400;
			}
			

		.special{
			margin-top:45px;
			
				p{
					color:$purple;
					font-size: x-small;
					font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				}
				
				span{
					margin: 0 20px 0 10px;
				}
		}
		.special.newM{
			margin-bottom:45px;
		}
	}
}

