// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'var';
@import 'global-styles';
@import 'nav';
@import 'footer';
@import 'event';
@import 'votes';
@import 'admin';
@import 'newReg';
@import 'likeaflash';
@import 'media-queries';

